body {
    background-color: black;
    color: white;
    font-family: monospace;
    text-align: center;
    font-size: 30px;
}

input {
    font-size: 30px;
    height: 30px;
}
button {
    font-size: 30px;
}


.add {
    background-color: gray;
    width: 50%;
    margin: 20px auto;
    padding: 10px;
    border-radius: 10px;
}

.tasklist {
    background-color: gray;
    width: 50%;
    margin: 20px auto;
    padding: 10px;
    border-radius: 10px;
}

.tasklist div {
    width: 80%;
    margin: 20px auto;
    padding: 10px;
    border-radius: 10px;
}

.tasklist div:hover {
    color: grey;
    cursor: pointer;
}

dialog {
    width: 50%;
    margin: 20px auto;
    padding: 10px;
    border-radius: 10px;
}